* {
    margin: 0;
} 
body {
    font-family: "Lato";
}
.header {
    width: 1020px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d303a;
    border-bottom: 6px #323746 solid;
}
h1 {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
    font-stretch: condensed;
    text-align: left;
    letter-spacing: -0.5px;
    margin-left: 40px;
    margin-bottom: 1px;
    
}
h1::after {
    content: '*';
    color:  #f06c64;
}
.menu {
    margin-right: 40px;
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    line-height: 6px;
    color: #494e62;
    font-weight: 600;
}
.menu li {
    margin-left: 28px;
    list-style-type: none;
}
.menu li a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: -0.25px;
}
.menu li:first-child a{
    color: #f06c64;
    
}
.menu li:not(:first-child)::before {
    content: '.';
    position: relative;
    right: 14px;
    bottom: 3px;
}