@font-face {
  font-family: Lato;
  src: url(./assets/font/Lato-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Lato;
  src: url(./assets/font/Lato-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Lato;
  src: url(./assets/font/Lato-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(./assets/font/Lato-Regular.ttf);
  font-weight: 400;
}


* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato";
  width: 100%;
  background-color: #2d303a;
}
.wrapper {
  width: 1020px;
  margin: auto;
}
.burger {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 20px;
  top: 26px;
}

.header {
  position: fixed;
  z-index: 2;
  width: inherit;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d303a;
  border-bottom: 6px #323746 solid;
}
h1 {
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-weight: 700;
  font-stretch: condensed;
  text-align: left;
  letter-spacing: -0.5px;
  margin-left: 40px;
  margin-bottom: 1px;
  
}
h1::after {
  content: '*';
  color:  #f06c64;
}

.menu {
  margin-right: 40px;
  margin-top: 10px;
  display: flex;
  font-size: 12px;
  line-height: 6px;
  color: #494e62;
  font-weight: 600;
}
.menu li {
  margin-left: 28px;
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: -0.25px;
}

.menu .active-anchor{
  color: #f06c64;
  
}
.menu li:not(:first-child)::before {
  content: '.';
  position: relative;
  right: 14px;
  bottom: 3px;
}
.menu li a:hover {
  cursor: pointer;
  color: green;
  text-decoration: underline;
}
.main {
  padding-top: 95px;
}
.slider {
  width: 100%;
  height: 594px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f06c64;
  border-bottom: 6px #ea676b solid;
  overflow: hidden;
}
.slider__item {
  display: none;
  align-items: center;
  position: absolute;
  height: inherit;
  width: inherit;
  justify-content: center;
}
.slider2 {
  height: inherit;
  width: inherit;
}
.phone-wrapper {
  display: flex;


}
.phone-vert {
  cursor: pointer;
  margin-top: 2px;
}
.phone-hor {
  cursor: pointer;
  margin-top: 120px;
  margin-left: 48px;
}
.arrow {
  
  position: absolute;
  z-index: 1;
}
.arrow-right {
  right: 0;
  margin-right: 40px;
  transform: rotate(180deg);
}
.arrow-left {
  margin-left: 42px;
}
.arrow-left:hover {
  cursor: pointer;
  transform: scale(2);
}
.arrow-right:hover {
  cursor: pointer;
  transform: scale(2) rotate(180deg);
}
.service {
  width: 100%;
  height: 495px;
  background-color: #f2f2f2;
  border-bottom: 5px #ffffff solid;
}
.service-header {
  padding-top: 68px;
  margin-left: 40px;
  letter-spacing: -0.2px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
}
.service-about-1 {
  margin-left: 39px;
  margin-top: 27px;
  width: 940px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.15px;
}
.service-about-2 {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0;
}
.service-container {
  margin-left: 22px;
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;

}
.service-item {
  display: flex;
  width: 300px;
  height: 91px;
  overflow: hidden;
  align-items: flex-start;
  margin-top: 31px;
  margin-left: 19px;
}
.service-item .item-about {
  margin-left: 19px;
}
.service-item .item-header {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}
.service-item .item-text {
  width: 219px;
  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
  margin-top: 11px;
  margin-left: 2px;
  
}
.service-item .item-icon {
  margin-top: 3px;
}
#item1 .item-text-add{
  width: 219px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.1px;
}
#item1 .item-text {
  width: 223px;
  word-spacing: 4.8px;
}
#item2 .item-text {
  width: 220px;
  line-height: 22px;

}
#item2 .item-text::first-line {
  letter-spacing: 0.15px;
  line-height: 21px;
  word-spacing: 0;
}
#item3 .item-header {
  margin-top: 1px;
  margin-left: 3px;
  letter-spacing: -0.1px;
}
#item3 .item-text {
  line-height: 21px;
}
#item4 .item-text {
  line-height: 21px;
}
#item5 .item-text {
  line-height: 21px;
}
#item6 .item-text {
  width: 226px;
  line-height: 21px;
}
#item6 .item-header {
  margin-left: 3px;
  margin-top: 0.5px;
  letter-spacing: -0.1px;
}
.secction2 {
  width: 100%;
  margin: auto;
}
.portfolio {
  background-color: #2d303a;
  padding-left: 39px;
  padding-bottom: 51px;
  border-bottom: #323746 solid 6px;
}
.portfolio-header {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-top: 69px;
  margin-left: 1px;
  letter-spacing: -0.1px;
}
.portfolio-description {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  margin-top: 27px;
  margin-left: 1px;
}
.portfolio-filters {
  margin-left: 2px;
  margin-top: 11px;
}
.portfolio-filters-button {
  height: 22px;
  font-family: "Lato";
  font-size: 12px;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #666d89;
  margin-right: 7px;
  letter-spacing: 0.05px;
}
.portfolio-filters-button:hover {
  cursor: pointer;
  color: rgb(146, 34, 34);
}
.portfolio-filters-button.selected {
  border: 1px solid #c5c5c5;
  color: #dedede;
}
#atwork {
  margin-left: -3px;
}
.portfolio-images {
  display: flex;
  height: 617px;
  flex-wrap: wrap;
  margin-top: 19px;
  margin-left: 1px;
  margin-right: 40px;
  justify-content: space-between;
  overflow: hidden;

}
.portfolio-images-item {
  margin-bottom: 19px;
  box-sizing: border-box;
  width: 220px;
  height: 187px;
  cursor: pointer;
}
.about-us {
  padding-top: 59px;
  padding-left: 40px;
  padding-bottom: 58px;
  border-bottom: #ffffff solid 6px;
  background-color: #f2f2f2;
}
.about-us-header {
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}
.about-us-description {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  margin-top: 18px;
  letter-spacing: 0;
}
.about-us-description::first-line {
  letter-spacing: 0.15px;
}
.about-us-peoples {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
#about-us-last-item {
  padding-left: 2px;
}

.about-us-item {
  flex-basis: 300px;
}
.item-header-name {
  margin-top: 12px;
  margin-left: -1px;
  font-size: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}
.item-description {
  margin-top: 8px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
}
.item-description::first-line {
  letter-spacing: -0.07px;
}


.item-contacts {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  width: 155px;
}

#desc-middle-item::first-line {
  letter-spacing: 0.11px;
}
#desc-last-item::first-line {
  letter-spacing: 0.12px;
}
.item-contacts-link:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.section3 {
  width: 100%;
  margin: auto;
  background-color: #f06c64;
  padding-left: 39px;
  padding-bottom: 39px;
  border-bottom: #ea676b solid 6px;
  box-sizing: border-box;
}
.get-a-quote-header {
  padding-top: 68px;
  margin-left: 1px;
  letter-spacing: -0.1px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}
.get-a-quote-description {
  margin-top: 27px;
  margin-left: 1px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}
.get-a-quote-description::first-line {
  word-spacing: 1.1px;
}
.data-input {
  margin-top: 47px;
}
.submit {
  border-radius: 5px;
  background-color: #d6564f;
  border: 1px #f0d8d9 solid;
  color: #f0d8d9; 
}
.footer {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  height: 76px;
  padding-left: 39px;
  background-color: #2d303a;
}
.contacts {
  margin-top: 47px;
  margin-left: 19px;
}
.contact-information {
font-size: 18px;
line-height: 18px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 900;
text-align: left;
}
.contact-information-description {
width: 305px;
height: 111px;
font-size: 12px;
line-height: 22px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 400;
text-align: left;
margin-top: 10px;
}
.data-and-contacts {
  display: flex;
}
.contact-link {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 12px;
  color: #f0d8d9;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}
.contact-link-name {
  margin-left: 11px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.input-base {
  width: 615px;
  height: 38px;
  border-radius: 5px;
  background-color: #d6564f;
  border: 0;
  color: #f48c8f;
  padding-left: 4px;
}
.input-base:not(:first-child) {
  margin-top: 14px;
}
.input-base::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
  text-align: left;
  padding-left: 10px;
}
.input-describe {
  height: 202px;
  resize: none;
}
.input-describe::placeholder {
  font-size: 12px;
  line-height: 29px;
  font-family: "Lato";
  padding-left: 10px;
}

.footer-copyright {
  margin-top: 10px;
  margin-left: 2px;
  color: #666d89;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.1px;
}
.footer-link-container {
  margin-right: 39px;
  padding-top: 1px;
  display: flex;
  padding-right: 0px;
  justify-content: space-between;
  width: 154px;
}
#phone {
  margin-top: 6px;
  margin-left: 1px;
}
#email {
  margin-top: 8px;
  margin-left: 1px;
}
#email .contact-link-name {
  margin-left: 10px;
}
.footer-link:hover {
  transform: scale(1.2);
}
.submit:hover {
  cursor: pointer;
}
.phone {
  position: relative;
}
.black-phone-vert {
  position: absolute;
  height: 333px;
  width: 188px;
  background-color: transparent;
  top: 67px;
  left: 23px
}
.black-phone-hor {
  position: absolute;
  height: 188px;
  width: 333px;
  background-color: transparent;
  top: 21px;
  left: 68px;
}
.active-img {
  border: #F06C64 solid 5px;
}

.window {
  min-width: 200px;
  max-width: 400px;
  min-height: 100px;
  padding: 10px 20px;
  background-color: #2d303a;
  color: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  flex-direction: column;
  border-radius: 10px;

}
.window__description {
  word-wrap: break-word;
}
.window__ok {
  width: 50px;
  margin: auto;
  margin-top: 10px;

}
.window__ok:hover {
  cursor: pointer;
}

.active {
   display: flex;
}

.prev {
  display: flex;
  left: -100%;
}

.next {
  display: flex;
  right: -100%;
}

.right-to-left {
  display: flex;
  animation: toLeft .5s linear forwards;
}

.left-to-right {
  display: flex;
  animation: toRignt .5s linear forwards;
}

@keyframes toLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes toRignt {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}



@media(max-width: 1019px){
  .wrapper {
    width: 100%;
  }
  .arrow-left {
    margin: 0;
    margin-left: 29px;
  }
  .arrow-right {
    margin: 0;
    margin-right: 29px;
  }
  .phone-wrapper {
    transform: scale(0.753);
  }
  .slider {
    height: 451.76px;
  }
  .service-about-1 {
    width: 92%;
  }
  .service {
    height: 674px;
  }
  .service-container {
    margin-left: 40px;
    margin-right: 74px;
  }
  .service-container {
    justify-content: space-between;
  }
  .portfolio-description {
    margin-right: 80px;
  }
  .portfolio-images {
    height: 825px;
  }
  .about-us-description {
    margin-right: 36px;
  }
  .item-photo {
    width: 100%;
  }
  .item-header-name {
    width: auto;
  }
  .about-us-item {
    flex-basis: 32%;
  }
  .item-contacts {
    margin-top: 10px;
  }
  .get-a-quote-description {
    width: 95%;
  }
  .input-base {
    width: 100%;
  }
  .contact-information-description {
    width: 100%;
  }
  .data-input {
    width: 61%;
  }
  .contacts {
    width: 31%;
    margin-left: 29px;
  }
  .contact-information-description {
    height: auto;
    margin-top: 5px;
    text-align: justify;
  }
  .contact-link {
    margin-top: 10px;
  }
  #email {
    margin-top: 5px;
  }
  .input-base:not(:first-child) {
    margin-top: 12px;
  }
  .service-item {
    margin-left: 0;
  }
}
@media(max-width: 767px) {
  .header{
    justify-content: center;
    height: 71px;
  }
  .header h1 {
    font-size: 19.6875px;
    margin: 0;
  }
  .menu {
    flex-direction: column;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    margin-top: 232px;
  }
  .burger {
    display: initial;
  }
  .menu li:not(:first-child) {
    margin-top: 30px;
  }
  .menu li:not(:first-child)::before {
    display: none;
  }
  .nav {
    position: absolute;
    left: -278px;
    top: 0;
    background-color: #2d303a;
    width: 278px;
    height: 100vh;
  }
  .phone-wrapper {
    transform: scale(0.368);
  }
  .slider{
    height: 220px;
  }
  .main {
    padding-top: 71px;
  }
  .service-about-1 {
    margin-left: 32px;
    margin-right: 30px;
    width: auto;
  }
  .about-us-peoples {
    flex-wrap: wrap;
  }
  .data-and-contacts {
    flex-wrap: wrap;
  }
  .arrow-left {
    margin-left: 10px;
  }
  .arrow-right {
    margin-right: 10px;
  }
  .service-header {
    margin-left: 32px;
  }
  .service-container {
    margin-left: 32px;
    margin-right: 30px;
    width: auto;
    margin-top: 0px;
  }
  .service-header {
    padding-top: 30px;
  }
  .service {
    height: 1040px;
  }
  .portfolio-header {
    padding-top: 45px;
  }
  .portfolio {
    padding-left: 30px;
    padding-bottom: 28px;
  }
  .portfolio-description {
    width: auto;
    margin-right: 38px;
  }
  .portfolio-images-item {
    width: 151px;
    height: 128px;
  }
  .portfolio-images {
    margin-left: 0;
    margin-right: 30px;
    height: 580px;
  }
  .about-us {
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }
  .about-us-description {
    margin-right: 16px;
  }
  .about-us-item {
    flex-basis: 100%;
  }
  .about-us-peoples {
    margin-right: 0;
    margin-top: 25px;
  }
  .item-description {
    margin-top: 0;
    text-align: justify;
  }
  .about-us-item:not(:first-child) {
    margin-top: 30px;
  }
  .section3 {
    padding-left: 30px;
  }
  .get-a-quote-description {
    padding-right: 30px;
    width: 89%;
    height: auto;
  }
  .get-a-quote-header {
    padding-top: 48px;
  }
  .data-and-contacts {
    margin-right: 30px;
    width: auto;
  }
  .data-input {
    width: 100%;
    margin-top: 28px;
  }
  .input-describe {
    height: 159px;
  }
  .submit {
    width: 100%;
    height: 50px;
    margin-top: 10px;
  }
  .contacts {
    margin-left: 0;
    width: auto;
    margin-top: 32px;
  }
  .input-base {
    padding-left: 0;
  }
  .footer-copyright {
    display: none;
  }
  .footer {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .footer-link-container {
    margin: 0;
  }
}

.burger-active {
  transform: rotate(90deg);
  z-index: 5;
}
.h1-active {
  position: absolute;
  left: 71px;
  top: 36px;
  z-index: 5;
}
.nav-active {
  left: 0;
  transition: linear 0.2s;
}






